<div class="chat-container">
    <div class="chat-header">
        <h2>AI Assistant</h2>
    </div>
    <div class="chat-messages" #chatScrollBox>
        @for (msg of messages; track $index) {
        <div class="message {{ msg.sender }}" @messageAnimation>
            {{ msg.text }}
        </div>
        }

        @if (botIsTyping) {
        <div class="message bot typing">
            <span></span>
            <span></span>
            <span></span>
        </div>
        }
    </div>

    <div class="chat-input">
        <button class="mic-btn" type="button" (click)="openMic()" [class.active]="micState">🎤</button>
        <input #chatInput [(ngModel)]="messageText" (keydown.enter)="!micState && sendUserMessage()"
            placeholder="Type your message..." />
        <button class="send-btn" type="button" (click)="sendUserMessage()"> Send </button>
    </div>
</div>